*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{
    --primary-color: #0a9c6f;
    --grey900: #0d1919;
    --grey800: #121b22;
    --grey700: #1f2c34;
    --grey300: #fefff6;
    --grey200: #f1f2f6;
    --green-button: #138b80;
    --green300: #2dca7a;
    --green100: #dcf8c6;
    --primary-font: "Roboto", sans-serif;
}

body{
    background-color: var(--primary-color);
    padding: 40px;
}

.app{
    background-color: white;
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    overflow: hidden;
}

aside{
    background-color: var(--grey900);
    color: white;
}

aside header{
    background-color: var(--grey800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile svg{
    width: 60px;
    border-radius: 50%;
}

.profile h2{
    font-size: 22px
}


.actions{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.actions button{
    padding: 7px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--grey800);
    color: var(--grey300);
    transition: transform .2s
}


.actions button svg{
    width: 22px;
}

.actions button:hover{
    background-color: var(--grey700);
    transform: translateY(-4px);
}